@charset "ISO-8859-1";
nav{
    right: 30px;
    position: absolute;
    font-size: 1.8em;
    bottom: 0;
    height: 80px;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin-left: 0.5em;
    text-align: center;
}
nav ul li a{
    margin-left: 5px;
    text-decoration: none;
    transition: 200ms;
    line-height: 80px;

}
nav ul li a:hover{
    font-size: 35px;
}

header{
    position: relative;
    display: flex;
    background-color: rgb(201, 201, 201);
    height: 6.1em;
    width: 100%;
}

header h1{
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal-c{
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(139, 139, 139, 0.8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}

.modal-c:target{
    display: block;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 200ms ease-in;
}

.modal-padrao{
    height: 300px;
    width: 500px;
    position: relative;
    margin: 10em auto;
    border-radius: 12px;
    background-color: #fff; 
}
#sobre-div div{
    margin: 20px 20px;
}

#sobre p{margin-top: 5%; margin-bottom: 5%;}

.close{
    margin: 5px 15px 20px 0;
    float: right;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    clear: both;
}

.close:hover{color: #b50909; transition: 200ms;}

/* define a cor de fundo das paginas sobre, clientes e contatos*/
.color-page{
    background-color: #ddd;
}